.join-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .join-form {
    border: 1px solid rgba($color: $grey, $alpha: 0.1);
    box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, 0.7);
    border-radius: 24px;
    background-color: $grey;
    padding: 16px 24px;
    max-width: 420px;
    display: flex;
    flex-wrap: wrap;
    label {
      flex-grow: 1;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    input {
      flex-grow: 1;
      border: none;
      width: 100%;
      padding: 16px 24px;
      margin-bottom: 8px;
      background-color: $white;
      font-size: large;
      &:focus {
        outline: 2px solid darksalmon;
      }
    }
    input[type="submit"] {
      background-color: $orange;
      cursor: pointer;
    }
  }
}
