doctype html 
html(lang='ko')
  head
    title #{pageTitle} | SOTD
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body 
    header
      .logo
        span SOTD
      nav 
        ul 
          li
    main 
      block content
    include partials/footer