doctype html 
html(lang='ko')
  head
    title #{pageTitle} | SOTD
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body 
    header
      .logo
        a(href="/")  SOTD
      nav 
        ul 
          if loggedIn
            li
              a(href="/users/logout") Log out
          else
            li
              a(href="/join") Join
            li
              a(href="/login") Login 
    main 
      block content
    include partials/footer