extends base

block content
  div.login-container
    h1 Welcome Back!
    if errorMessage
      p=errorMessage
    form(method='post')
      label(for="email") 이메일
      input(type="email", id='email' name='email' placeholder='이메일' required)
      label(for="password") 비밀번호
      input(type="password", id='password' name='password' placeholder='비밀번호' required)
      hr
      input(type='submit' value='Login')